/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #2c2c2c;*/
  background-image: radial-gradient(circle, #7791d9ff, #d0def2);
  color: #f8f4e3;
}

#root {
  min-height: 100vh;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /*background: #2c2c2c;*/
  background-image: radial-gradient(circle, #7791d9ff, #d0def2);
}

::-webkit-scrollbar-thumb {
  background: #800020;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c44569;
}